<div class="container" style="margin-top: 200px;">
    <div class="row fill_height">
        <div class="col fill_height">
            <form #addEventForm="ngForm" (ngSubmit)="addEvent(event)">
                <div class="counter_form_title">Add Event</div>
                <input type="text" class="counter_input" placeholder="title:" [(ngModel)]=" event.title" name="title">
                <input type="text" class="counter_input" placeholder="date:" [(ngModel)]="event.date" name="date">
                <input type="text" class="counter_input" placeholder="description:" [(ngModel)]="event.description" name="desc">
                <input type="text" class="counter_input" placeholder="price:" [(ngModel)]="event.price" name="price">

                <div class="form-group text-center">
                    <button class="btn btn-primary py-3 px-5" (click)='filePicker.click()'>
                        Upload Event Image
                    </button>
                </div>

                <div class="text-center">
                    <img [src]="imagePreview" *ngIf="imagePreview" width="200px" height="200px" alt="" style="border-radius: 60px;">
                </div>

                <div class="form-group" style="visibility: hidden; text-align: center;">
                    <input type="file" class="form-control" #filePicker (change)='onImageSelected($event)'>
                </div>
                <input type="submit" class="counter_form_button" value="Add Event">
            </form>
        </div>
    </div>
</div>