<div class="container">
<table class="table" style="margin-top: 100px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Subject</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
        <th scope="col">Level</th>
        <th scope="col">Teacher</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let c of courses">
        <th scope="row">{{c.id}}</th>
        <td>{{c.subject}}</td>
        <td>{{c.duration}}</td>
        <td>{{c.price}} TND</td>
        <td>{{c.Lvl}}</td>
        <td>{{c.teacher}}</td>
        <td>
            <button class="btn btn-success" (click)="goToDisplay(c._id)">Display</button>
            
            <button class="btn btn-warning" (click)="goToEdit(c._id)" style="margin-left: 15px;">Edit</button>
           
            <button class="btn btn-danger" style="margin-left: 15px;"  (click)="delete(c._id)">Delete</button>
        </td>
       
      </tr>
      
    </tbody>
  </table>
</div>