<div class="container" style="margin-top: 200px;">
<div class="row fill_height">
    <div class="col fill_height">
        <form #loginForm = "ngForm" (ngSubmit)="logIn()">
            <div class="counter_form_title">Login</div>
            <input type="text" class="counter_input" placeholder="Your Email:" [(ngModel)]=" user.email" name="em">
            <input type="password" class="counter_input" placeholder="Your Password:" [(ngModel)] = "user.password" name="pwd">
        
            <input type="submit" class="counter_form_button" value="Login">
        </form>
    </div>
</div>
</div>