<div class="container" style="padding-top: 50px;">
    <table class="table " style="margin-top: 100px;">


        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Event Title</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Description</th>
           
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let e of events">
            <th scope="row">{{e._id}}</th>
            <td>{{e.title}}</td>
            <td>{{e.date}}</td>
            <td>{{e.time}}</td>
            <td>{{e.description}}</td>
          
            <td>
                <button class="btn btn-success" (click)="goToDisplay(e._id)">Display</button>
                <button class="btn btn-warning" (click)="goToEdit(e._id)" style="margin-left: 15px;">Edit</button>
                <button class="btn btn-danger" style="margin-left: 15px;" (click)="goToDeleteById(e._id)" >Delete</button>
            </td>
           
          </tr>
          
        </tbody>
      </table>
    </div>