
    <div class="event event_left eventboxpadd">
        <div class="event_image"><img src="assets/images/event_1.jpg" alt=""></div>
        <div class="event_body d-flex flex-row align-items-start justify-content-start">
            <div class="event_date">
                <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                    <div class="event_day trans_200">{{findedEvent.date}}</div>
                    <div class="event_month trans_200">Aug</div>
                </div>
            </div>
            <div class="event_content">
                <div class="event_title"><a href="#" style="padding-left: 50px;">{{findedEvent.title}}</a></div>
                <div class="event_info_container">
                    <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>15.00 - 19.30</span></div>
                    <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span> {{event.description}}</span></div>
                    <div class="event_text">
                        <p>{{findedEvent.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
